!!! 5
%html(lang="en-US")
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes")
    %link(type="text/css" rel="stylesheet" href="assets/stylesheets/reset.css")
    %link(type="text/css" rel="stylesheet" href="assets/stylesheets/mobile.css")
    %title A Tribute to Nikola Tesla
  %body
    %article
      %header
        %h1 Nikola Tesla
        %h2.tagline A Revolutionary Inventor
      %figure
        %img(src="https://upload.wikimedia.org/wikipedia/commons/8/87/Blue_Portrait_of_Nikola_Tesla.jpg" alt="Blue Portrait of Nikola Tesla (painting)" width="360px")
        %figcaption Nikola Tesla was one of the greatest American inventors, yet his contributions have largely been understimated and misunderstood, even vilified.
      #timeline
        .event
          %h3 July 1856
          %p Nikola Tesla is born In Smiljan, Austrian Empire (now Croatia).
        .event
          %h3 1875-1878
          %p Enrolls at Austrian Polytechnic to study electrical engineering. Drops out without finishing his degree in December 1878.
        .event
          %h3 1882
          %p Moves to Paris and begins work as an electrical engineer with Continental Edison Company. Experiments with magnetic-field-based devices and comes up with idea for induction motor.
        .event
          %h3 June 6 1884
          %p Arrives in United States with little money and a letter from his former employer recommending him to Thomas Edison.
        .event
          %h3 1885
          %p Quits his job working for Edison due to unfair compensation for overhauling and improving the efficiency of Edison's motors.
        .event
          %h3 1886
          %p Founds Tesla Electric Light & Manufacturing Company in Rahway, New Jersey.
        .event
          %h3 1887-1890
          %p
            The
            %a(href="https://en.wikipedia.org/wiki/War_of_Currents")
              War of Currents
            rages, ultimately culminating in a victory for the alternating-current model of electrical generation (over against Edison's direct-current model) developed by Tesla and championed by his associate George Westinghouse.
        .event
          %h3 1887-1895
          %p Experiments with X-rays using his patented single terminal vacuum tubes. Nearly all his X-ray experiments are destroyed in a fire at his lab in March 1895.
        .event
          %h3 1891
          %p Patents the Tesla coil.
        .event
          %h3 July 30 1891
          %p Gains United States citizenship status.
        .event
          %h3 1893
          %p With Westinghouse, powers the World's Columbian Exposition in Chicago and displays the powers of alternating current for the world to see.
        .event
          %h3 1899
          %p Relocates his research to Colorado Springs, where he begins conducting experiments of higher voltage, higher frequency, and over longer distances.
        .event
          %h3 1901-1905
          %p Constructs Wardenclyffe Tower on Long Island, New York. Due to waning interest from investors and his own failing finances, Tesla ended up abanding the project unfinished.
        .event
          %h3 1913
          %p Patents bladeless turbine engine.
        .event
          %h3 1916
          %p Files for bankruptcy.
        .event
          %h3 1934
          %p Theorizes on the possibility of inventing a "death ray" using a concentrated particle beam to project large amounts of energy over long distances.
        .event
          %h3 January 7 1943
          %p Dies of heart failure. The cremated remains currently reside at the Nikola Tesla Museum in Belgrade, Yugoslavia.
      %aside
        %small
          For more information about Nikola Tesla's life and work, check out his
          %a(href="https://en.wikipedia.org/wiki/Nikola_Tesla")
            Wikipedia article.
    %footer
      %p
        Site designed and coded by
        %a(href="http://www.freecodecamp.com/mattlayton1986")
          mattlayton1986
